In [1]:
import numpy as np
import pandas as pd

In [2]:
import seaborn as sns
import matplotlib.pyplot as plt
import missingno as msno

In [4]:
!kaggle competitions download -c competitive-data-science-predict-future-sales -p data

from zipfile import ZipFile
ZipFile('data/competitive-data-science-predict-future-sales.zip').extractall('data/')

competitive-data-science-predict-future-sales.zip: Skipping, found more recently modified local copy (use --force to force download)

In [20]:
df = pd.read_csv('data/sales_train.csv')
df_items = pd.read_csv('data/items.csv')
df_shops = pd.read_csv('data/shops.csv')

df = (df
      .merge(df_items, how='left', on='item_id')
      .merge(df_shops, how='left', on='shop_id')
     )

df['date'] = pd.to_datetime(df['date'], format='%d.%m.%Y')
df.head()

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,item_name,item_category_id,shop_name
0,2013-01-02,0,59,22154,999.00,1.0,ЯВЛЕНИЕ 2012 (BD),37,"Ярославль ТЦ ""Альтаир"""
1,2013-01-03,0,25,2552,899.00,1.0,DEEP PURPLE The House Of Blue Light LP,58,"Москва ТРК ""Атриум"""
2,2013-01-05,0,25,2552,899.00,-1.0,DEEP PURPLE The House Of Blue Light LP,58,"Москва ТРК ""Атриум"""
3,2013-01-06,0,25,2554,1709.05,1.0,DEEP PURPLE Who Do You Think We Are LP,58,"Москва ТРК ""Атриум"""
4,2013-01-15,0,25,2555,1099.00,1.0,DEEP PURPLE 30 Very Best Of 2CD (Фирм.),56,"Москва ТРК ""Атриум"""

In [9]:
df_shops.head()

                        shop_name  shop_id
0   !Якутск Орджоникидзе, 56 фран        0
1   !Якутск ТЦ "Центральный" фран        1
2                Адыгея ТЦ "Мега"        2
3  Балашиха ТРК "Октябрь-Киномир"        3
4        Волжский ТЦ "Волга Молл"        4